# SQLAlchemy 1.4 / 2.0 Tutorial

## Establishing Connectivity - the Engine

In [11]:
import os.path
import yaml
from sqlalchemy import create_engine, text

config_path = os.path.expanduser('~\\.sqlalchemy\\config.yaml')

with open(config_path) as f:
    config = yaml.load(f, Loader=yaml.FullLoader)

db_path = (
    f"postgresql://{config['username']}:{config['password']}"
    f"@{config['host']}:{config['port']}/{config['db_name']}"
)
engine = create_engine(db_path, echo=True, future=True)

with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

2021-11-19 08:11:18,446 INFO sqlalchemy.engine.Engine select version()
2021-11-19 08:11:18,446 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-11-19 08:11:18,448 INFO sqlalchemy.engine.Engine select current_schema()
2021-11-19 08:11:18,448 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-11-19 08:11:18,450 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2021-11-19 08:11:18,451 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-11-19 08:11:18,452 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-19 08:11:18,453 INFO sqlalchemy.engine.Engine select 'hello world'
2021-11-19 08:11:18,453 INFO sqlalchemy.engine.Engine [generated in 0.00081s] {}
[('hello world',)]
2021-11-19 08:11:18,454 INFO sqlalchemy.engine.Engine ROLLBACK

## Working with Transactions and the DBAPI

### Committing Changes

In [15]:
# commit as you go
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE FUNC( x integer, y integer )"))
    conn.execute(text("INSERT INTO FUNC (x,y) VALUES (:x, :y)"),
                 [{"x": 1, "y": 1}, {"x": 2, "y": 4}])
    conn.commit()

# begin once
with engine.begin() as conn:
    conn.execute(text("INSERT INTO FUNC (x,y) VALUES (:x, :y)"),
                 [{"x": 6, "y": 8}, {"x": 9, "y": 10}])

2021-11-18 15:15:22,626 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-18 15:15:22,627 INFO sqlalchemy.engine.Engine CREATE TABLE FUNC( x integer, y integer )
2021-11-18 15:15:22,627 INFO sqlalchemy.engine.Engine [generated in 0.00121s] {}
2021-11-18 15:15:22,652 INFO sqlalchemy.engine.Engine INSERT INTO FUNC (x,y) VALUES (%(x)s, %(y)s)
2021-11-18 15:15:22,653 INFO sqlalchemy.engine.Engine [generated in 0.00099s] ({'x': 1, 'y': 1}, {'x': 2, 'y': 4})
2021-11-18 15:15:22,655 INFO sqlalchemy.engine.Engine COMMIT
2021-11-18 15:15:22,658 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-18 15:15:22,659 INFO sqlalchemy.engine.Engine INSERT INTO FUNC (x,y) VALUES (%(x)s, %(y)s)
2021-11-18 15:15:22,659 INFO sqlalchemy.engine.Engine [cached since 0.007468s ago] ({'x': 6, 'y': 8}, {'x': 9, 'y': 10})
2021-11-18 15:15:22,663 INFO sqlalchemy.engine.Engine COMMIT

### Basics of Statement Execution

In [17]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x,y FROM FUNC;"))
    for row in result:
        print(f"x: {row.x} y: {row.y}")

    result = conn.execute(text("SELECT x,y FROM FUNC;"))
    for dict_row in result.mappings():
        x = dict_row['x']
        y = dict_row['y']
        print(x, y)

    result = conn.execute(text("SELECT x,y FROM FUNC where y > :y"), {"y": 2})
    for row in result:
        print(f"x: {row.x} y: {row.y}")

    conn.execute(text("INSERT INTO FUNC(x,y) VALUES (:x, :y)"),
                 [{"x": 11, "y": 12}, {"x": 13, "y": 14}])
    conn.commit()

    # bundling parameters
    stmt = text(
        "SELECT x, y FROM FUNC WHERE y > :y ORDER BY x,y"
        ).bindparams(y=6)
    result = conn.execute(stmt)
    for row in result:
        print(f"x: {row.x} y: {row.y}")

2021-11-18 15:56:35,409 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-18 15:56:35,410 INFO sqlalchemy.engine.Engine SELECT x,y FROM FUNC;
2021-11-18 15:56:35,410 INFO sqlalchemy.engine.Engine [generated in 0.00166s] {}
x: 1 y: 1
x: 2 y: 4
x: 6 y: 8
x: 9 y: 10
2021-11-18 15:56:35,412 INFO sqlalchemy.engine.Engine SELECT x,y FROM FUNC;
2021-11-18 15:56:35,413 INFO sqlalchemy.engine.Engine [cached since 0.004293s ago] {}
1 1
2 4
6 8
9 10
2021-11-18 15:56:35,415 INFO sqlalchemy.engine.Engine SELECT x,y FROM FUNC where y > %(y)s
2021-11-18 15:56:35,415 INFO sqlalchemy.engine.Engine [generated in 0.00051s] {'y': 2}
x: 2 y: 4
x: 6 y: 8
x: 9 y: 10
2021-11-18 15:56:35,420 INFO sqlalchemy.engine.Engine INSERT INTO FUNC(x,y) VALUES (%(x)s, %(y)s)
2021-11-18 15:56:35,421 INFO sqlalchemy.engine.Engine [generated in 0.00087s] ({'x': 11, 'y': 12}, {'x': 13, 'y': 14})
2021-11-18 15:56:35,422 INFO sqlalchemy.engine.Engine COMMIT
2021-11-18 15:56:35,423 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-18 15:56:35,424 INFO sqlalchemy.engine.Engine SELECT x, y FROM FUNC WHERE y > %(y)s ORDER BY x,y
2021-11-18 15:56:35,425 INFO sqlalchemy.engine.Engine [generated in 0.00141s] {'y': 6}
x: 6 y: 8
x: 9 y: 10
x: 11 y: 12
x: 13 y: 14
2021-11-18 15:56:35,427 INFO sqlalchemy.engine.Engine ROLLBACK

### Executing with an ORM Session

In [18]:
from sqlalchemy.orm import Session
stmt = text(
    "SELECT x, y FROM FUNC WHERE y > :y ORDER BY x, y"
).bindparams(y=6)

with Session(engine) as session:
    result = session.execute(stmt)
    for row in result:
        print(f"x: {row.x} y: {row.y}")

    result = session.execute(
        text("UPDATE FUNC SET y=:y WHERE x=:x"),
        [{"x": 9, "y": 11}, {"x": 13, "y": 15}]
    )
    session.commit()  # To save, you should commit

2021-11-18 16:02:08,297 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-18 16:02:08,313 INFO sqlalchemy.engine.Engine SELECT x, y FROM FUNC WHERE y > %(y)s ORDER BY x, y
2021-11-18 16:02:08,313 INFO sqlalchemy.engine.Engine [generated in 0.00039s] {'y': 6}
x: 6 y: 8
x: 9 y: 10
x: 11 y: 12
x: 13 y: 14
2021-11-18 16:02:08,313 INFO sqlalchemy.engine.Engine UPDATE FUNC SET y=%(y)s WHERE x=%(x)s
2021-11-18 16:02:08,313 INFO sqlalchemy.engine.Engine [generated in 0.00036s] ({'y': 11, 'x': 9}, {'y': 15, 'x': 13})
2021-11-18 16:02:08,319 INFO sqlalchemy.engine.Engine COMMIT

## Working with Database Metadata

### Setting up Metadata with Table objects

In [33]:
from sqlalchemy import MetaData
metadata_obj = MetaData()  # a set of Table object

print(metadata_obj)

MetaData()

In [34]:
from sqlalchemy import Table, Column, Integer, String
user_table = Table(
    "user_account",  # table name
    metadata_obj,  # 'metadata_obj' has this table.
    Column('id', Integer, primary_key=True),
    Column('name', String(30)),
    Column('fullname', String)
)

### Declaring Simple Constraints

In [33]:
user_table.primary_key

PrimaryKeyConstraint(Column('id', Integer(), table=<user_account>, primary_key=True, nullable=False))

In [35]:
from sqlalchemy import ForeignKey
#  ForeignKey : we can omit the datatype for this column
address_table = Table(
    "address",
    metadata_obj,
    Column('id', Integer, primary_key=True),
    Column('user_id', ForeignKey('user_account.id'), nullable=False),
    Column('email_address', String, nullable=False)
)

### Emitting DDL to the Database

In [36]:
# create
metadata_obj.create_all(engine)

2021-11-19 08:51:33,161 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-19 08:51:33,163 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-11-19 08:51:33,164 INFO sqlalchemy.engine.Engine [cached since 2231s ago] {'name': 'user_account'}
2021-11-19 08:51:33,166 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-11-19 08:51:33,166 INFO sqlalchemy.engine.Engine [cached since 2231s ago] {'name': 'address'}
2021-11-19 08:51:33,168 INFO sqlalchemy.engine.Engine
CREATE TABLE user_account (
	id SERIAL NOT NULL,
	name VARCHAR(30),
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2021-11-19 08:51:33,168 INFO sqlalchemy.engine.Engine [no key 0.00064s] {}
2021-11-19 08:51:33,182 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id SERIAL NOT NULL,
	user_id INTEGER NOT NULL,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES user_account (id)
)


2021-11-19 08:51:33,182 INFO sqlalchemy.engine.Engine [no key 0.00059s] {}
2021-11-19 08:51:33,199 INFO sqlalchemy.engine.Engine COMMIT

In [36]:
# delete
metadata_obj.drop_all(engine)

2021-11-18 16:22:16,961 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-18 16:22:16,962 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-11-18 16:22:16,963 INFO sqlalchemy.engine.Engine [cached since 10.58s ago] {'name': 'user_account'}
2021-11-18 16:22:16,968 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-11-18 16:22:16,968 INFO sqlalchemy.engine.Engine [cached since 10.58s ago] {'name': 'address'}
2021-11-18 16:22:16,969 INFO sqlalchemy.engine.Engine
DROP TABLE address
2021-11-18 16:22:16,971 INFO sqlalchemy.engine.Engine [no key 0.00182s] {}
2021-11-18 16:22:16,976 INFO sqlalchemy.engine.Engine
DROP TABLE user_account
2021-11-18 16:22:16,977 INFO sqlalchemy.engine.Engine [no key 0.00057s] {}
2021-11-18 16:22:16,978 INFO sqlalchemy.engine.Engine COMMIT

### Defining Table Metadata with the ORM

In [37]:
# Setting up the Registry
from sqlalchemy.orm import registry
mapper_registry = registry()
mapper_registry.metadata
Base = mapper_registry.generate_base()  # declarative base

In [38]:
# Declaring Mapped Classes (using base)
from sqlalchemy.orm import relationship


class User(Base):
    __tablename__ = 'user_account'

    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    fullname = Column(String)
    addresses = relationship("Address", back_populates="user")
    # back_populates: Establishing a relationship in both direction.

    def __repr__(self):
        return (
            f"User(id={self.id!r}, name={self.name!r}, "
            f"fullname={self.fullname!r})"
        )
        # !r : repr(). a formal string that the interpreter can recognize


class Address(Base):
    __tablename__ = 'address'

    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey('user_account.id'))

    user = relationship("User", back_populates="addresses")

    def __repr__(self):
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

In [26]:
User.__table__

Table('user_account', MetaData(), Column('id', Integer(), table=<user_account>, primary_key=True, nullable=False), Column('name', String(length=30), table=<user_account>), Column('fullname', String(), table=<user_account>), schema=None)

In [39]:
# Other Mapped Class Details
sandy = User(name="sandy", fullname="Sandy Cheeks")  # create a instance
sandy  # __repr__() is used

User(id=None, name='sandy', fullname='Sandy Cheeks')

In [44]:
# Emitting DDL to the database. (three ways to emit DDL)
# 1) MetaData.create_all(engine)
# 2) mapper_registry.metadata.create_all(engine)
# 3) Base.metadata.create_all(engine)

In [46]:
# Combining Core Table Declarations with ORM Declarative
# class User(Base):
#    __table__ = user_table  # we don't have to write column infos.

### Table Reflection

In [12]:
# Load table from existing database as ORM object
# (not declaring table directly)
funcrefl = Table("func", metadata_obj, autoload_with=engine)

2021-11-19 08:11:23,967 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-19 08:11:23,968 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2021-11-19 08:11:23,969 INFO sqlalchemy.engine.Engine [generated in 0.00143s] {'table_name': 'func'}
2021-11-19 08:11:23,971 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2021-11-19 08:11:23,972 INFO sqlalchemy.engine.Engine [generated in 0.00081s] {'table_oid': 24641}
2021-11-19 08:11:23,997 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2021-11-19 08:11:23,998 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
2021-11-19 08:11:24,000 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2021-11-19 08:11:24,000 INFO sqlalchemy.engine.Engine [generated in 0.00084s] {}
2021-11-19 08:11:24,010 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2021-11-19 08:11:24,011 INFO sqlalchemy.engine.Engine [generated in 0.00092s] {'table_oid': 24641}
2021-11-19 08:11:24,021 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2021-11-19 08:11:24,022 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {'table_oid': 24641}
2021-11-19 08:11:24,043 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2021-11-19 08:11:24,043 INFO sqlalchemy.engine.Engine [generated in 0.00067s] {'table': 24641}
2021-11-19 08:11:24,048 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2021-11-19 08:11:24,048 INFO sqlalchemy.engine.Engine [generated in 0.00069s] {'table_oid': 24641}
2021-11-19 08:11:24,055 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2021-11-19 08:11:24,056 INFO sqlalchemy.engine.Engine [generated in 0.00079s] {'table_oid': 24641}
2021-11-19 08:11:24,057 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2021-11-19 08:11:24,057 INFO sqlalchemy.engine.Engine [generated in 0.00040s] {'table_oid': 24641}
2021-11-19 08:11:24,059 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2021-11-19 08:11:24,059 INFO sqlalchemy.engine.Engine [generated in 0.00082s] {'table_oid': 24641}
2021-11-19 08:11:24,061 INFO sqlalchemy.engine.Engine ROLLBACK

In [13]:
funcrefl

Table('func', MetaData(), Column('x', INTEGER(), table=<func>), Column('y', INTEGER(), table=<func>), schema=None)

## Working with Data

### Inserting Rows with Core

In [40]:
from sqlalchemy import insert
stmt = insert(user_table).values(
    name='spongebob', fullname="Spongebob Squarepants"
)
print(stmt)
complied = stmt.compile()
complied.params

with engine.connect() as conn:
    result = conn.execute(stmt)
    conn.commit()
    print(result.inserted_primary_key)  # tuple type

INSERT INTO user_account (name, fullname) VALUES (:name, :fullname)
2021-11-19 08:51:53,126 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-19 08:51:53,128 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (%(name)s, %(fullname)s) RETURNING user_account.id
2021-11-19 08:51:53,128 INFO sqlalchemy.engine.Engine [generated in 0.00191s] {'name': 'spongebob', 'fullname': 'Spongebob Squarepants'}
2021-11-19 08:51:53,133 INFO sqlalchemy.engine.Engine COMMIT
(1,)

In [41]:
with engine.connect() as conn:
    result = conn.execute(
        insert(user_table),
        [
            {"name": "sandy", "fullname": "Sandy Cheeks"},
            {"name": "patrick", "fullname": "Patrick Star"}
        ]
    )
    conn.commit()

2021-11-19 08:51:55,570 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-19 08:51:55,571 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (%(name)s, %(fullname)s)
2021-11-19 08:51:55,572 INFO sqlalchemy.engine.Engine [generated in 0.00159s] ({'name': 'sandy', 'fullname': 'Sandy Cheeks'}, {'name': 'patrick', 'fullname': 'Patrick Star'})
2021-11-19 08:51:55,573 INFO sqlalchemy.engine.Engine COMMIT

In [42]:
# insert using subquery
from sqlalchemy import select, bindparam
scalar_subq = (
    select(user_table.c.id).
    where(user_table.c.name == bindparam('username')).
    scalar_subquery()
)

print(scalar_subq)

with engine.connect() as conn:
    result = conn.execute(
        insert(address_table).values(user_id=scalar_subq),
        [
            {"username": 'spongebob', "email_address": "spongebob@sqlalchemy.org"},
            {"username": 'sandy', "email_address": "sandy@sqlalchemy.org"},
            {"username": 'sandy', "email_address": "sandy@squirrelpower.org"},
        ]
    )
    conn.commit()

(SELECT user_account.id
FROM user_account
WHERE user_account.name = :username)
2021-11-19 08:51:58,750 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-19 08:51:58,751 INFO sqlalchemy.engine.Engine INSERT INTO address (user_id, email_address) VALUES ((SELECT user_account.id
FROM user_account
WHERE user_account.name = %(username)s), %(email_address)s)
2021-11-19 08:51:58,751 INFO sqlalchemy.engine.Engine [generated in 0.00160s] ({'username': 'spongebob', 'email_address': 'spongebob@sqlalchemy.org'}, {'username': 'sandy', 'email_address': 'sandy@sqlalchemy.org'}, {'username': 'sandy', 'email_address': 'sandy@squirrelpower.org'})
2021-11-19 08:51:58,753 INFO sqlalchemy.engine.Engine COMMIT

In [44]:
from sqlalchemy import select, insert
# insert from select
select_stmt = select(user_table.c.id, user_table.c.name + "@aol.com")
print(select_stmt)
insert_stmt = insert(address_table).from_select(
    ["user_id", "email_address"], select_stmt
)
print(insert_stmt)

SELECT user_account.id, user_account.name || :name_1 AS anon_1
FROM user_account
INSERT INTO address (user_id, email_address) SELECT user_account.id, user_account.name || :name_1 AS anon_1
FROM user_account

In [48]:
# insert...Returning ('RETURNING' is supported by insert, update, delete)
insert_stmt = insert(address_table).returning(
    address_table.c.id, address_table.c.email_address
)
print(insert_stmt)

select_stmt = select(user_table.c.id, user_table.c.name + "@aol.com")
insert_stmt = insert(address_table).from_select(
    ["user_id", "email_address"], select_stmt
)
print(insert_stmt.returning(address_table.c.id, address_table.c.email_address))

INSERT INTO address (id, user_id, email_address) VALUES (:id, :user_id, :email_address) RETURNING address.id, address.email_address
INSERT INTO address (user_id, email_address) SELECT user_account.id, user_account.name || :name_1 AS anon_1
FROM user_account RETURNING address.id, address.email_address